[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
nflgame-redux = "==2.0.1b1"
requests = "*"
pandas = "*"
nfldfs = {git = "https://github.com/gilbertkyle/nfldfs"}
django-dotenv = "*"
python-dotenv = "*"
django-rest-passwordreset = "*"
cryptography = "==3.3.2"
urllib3 = "==1.26.6"

[requires]
python_version = "3.7"
