[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
nflgame-redux = "==2.0.1b1"
requests = "*"
pandas = "*"
nfldfs = "*"
django-dotenv = "*"
python-dotenv = "*"
django-rest-passwordreset = "*"
cryptography = "==2.8"

[requires]
python_version = "3.7"
