[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
nflgame-redux = "==2.0.1b1"
requests = "*"
nfldfs = "*"
pandas = "*"

[requires]
python_version = "3.7"
